body {
  font-family: 'Orbitron', serif;
  margin: 5%;
  font-size: 20px;
}
.bday {
  font-family: 'Orbitron', serif;
  font-size: 20px;
  padding: 3px 10px;
  width: 15%;
  border-radius: 15px 50px;
  
}
#button {
  width: 50%;
  border-radius: 15px 50px;
  padding: 5px 10px;
  font-family: 'Orbitron', serif;
  font-size: 25px;
  margin-top: 2%;
  margin-left: 25%;
  
}
label {
  font-size: 25px;
  
}
legend {
  font-size: 35px;
}
@media screen and (max-width:620px) {
body {
  margin: 1%;
}
legend {
  margin:0;
}
#userinput {
  width: 90%;
}
.bday {
  width: 28%;
  padding-left: 3%;
}

}
